<div ng-controller="pollController">
    <div class="container">
        <div class="poll-title h2 text-center">{{poll.metadata.name}}</div>
        <div class="poll-desc h5 text-center">{{poll.metadata.description}}</div>
        <div class="row">
          <div class="col-md-4">
            <div class="option-header">Vote for an option: </div>
            <div class="option-choice" ng-repeat="y in poll.options">
              <input type="radio" id="{{'poll_'+poll.pollID+'_optionName_'+y.name}}" name="{{'options'+poll.pollID}}" value="{{y.name}}">
                <label for="{{'poll_'+poll.pollID+'_optionName_'+y.name}}">{{y.name}}</label>
              </input>
            </div>
            <div class="option-submit-button">
              <button type="button" id="{{'chooseOption_'+poll.pollID}}" class="btn btn-info" ng-click="submitOption(poll.pollID)">Submit</button>
              <div id="{{'optionResultPoll_'+poll.pollID}}" class="option-submit-results">
                
              </div>
            </div>
            <div class="option-add-button" ng-show="isAuthenticated">
              <form name="newOptionForm" ng-submit="newOptionForm.$valid && addSaveNewOption(poll.pollID)">
                <label for="{{'newOption_'+poll.pollID}}">
                  Or add a new option: <br />
                  <input type="text" id="{{'newOption_'+poll.pollID}}" name="newOptionName" ng-model="newOptionName" placeholder="new option" required></input>
                  <span ng-show="newOptionForm.newOptionName.$error.required && newOptionForm.newOptionName.$touched">Option Name Required<br></span>
                </label>
                <div>
                  <button type="button" id="{{'chooseOption_'+poll.pollID}}" class="btn btn-create btn-info" >Save choice and add option</button>
                </div>
              </form>
            </div>
            <div class="share-button" ng-show="isAuthenticated">
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              
            </div>
          </div>
          <div class="col-md-8" id="{{'pollChart'+poll.pollID+'Container'}}">
            <canvas id="{{'pollChart'+poll.pollID}}" width="300px" height="300px"></canvas>
          </div>
    </div>
</div>