<!DOCTYPE html>
<div ng-controller="profileController">
    <div class="container" >
      <h2>Your polls: </h2>
      <div class="poll-container w-75 mx-auto text-center" ng-show="noPolls">
        <span>You have no polls.</span>
      </div>
      <div class="poll-container w-75 mx-auto">
        <div class="row">
          <div class="col-md-6" ng-repeat="x in polls">
            <div class="poll-card card" >
              <div class="row">
                <div class="col-md-12">
                  <span class="h4">{{x.metadata.name}}</span>
                  <span class="subtext">{{x.metadata.description}}</span>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-between align-items-center">{{x.metadata.createDateLocal}}
                  <div class="button-group d-flex flex-row justify-content-center align-items-center">
                    <button type="button" data-poll-id="{{x.pollID}}" class="btn btn-info btn-profile" ng-click="showPollDetails(x.pollID)">View</button>
                    <button type="button" data-poll-id="{{x.pollID}}" class="btn btn-danger btn-profile" ng-click="deletePoll(x.pollID)">Delete</button>
                  </div>
                </div>
                <div class="col-md-12" id="pollResults{{x.pollID}}" ng-show="poll{{x.pollID}}ActionTaken">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>